.col-lg-6.h50(ng-init="")
    chart(data="tempData", tooltips)
        layout(line)
            x(type="time", property="Months",date-format="%b", axis, brush)
            y(axis, grid, ticks="5")
            color(type="category10", legend)

    chart(data="tempData", tooltips)
        layout(line, markers, brush)
            x(type="ordinal", property="Months", axis)
            y(axis, value-markers, grid, ticks="5")
            color(type="category10", legend)
.col-lg-6

    chart(data="altersstruktur", tooltips)
        layout(horizontal-line)
            y(type="ordinal", property="Altersgruppe", axis, show-label, label="Altersgruppe", grid, brush)
            x(property="maennlich,weiblich,diff", axis, tick-format=".2s", domain-range="extent", legend, grid)
            color(type="category10")


