.col-lg-6.h50(ng-init="sTooltips=true;xAxis=true;yAxis=true;xGrid=true;yGrid=false;xLabel='Date';yLabel='Close ($)'; xTicks=10; yTicks=7; legendPos='top-left';xLblShow=true;yLblShow=false;legendTitle='Ticker'")

    .box80
        chart(data="combo", tooltips="{{sTooltips}}")
            x(axis="{{xAxis}}", brushed, type="time", property="date", domain-range="extent", grid="{{xGrid}}", show-label="{{xLblShow}}", label="{{xLabel}}", ticks="{{xTicks}}", format="{{xFormat}}")
            color(type="category10", label="Ticker Symbol")
            layout(line)
                y(axis="{{yAxis}}", type="linear", property="{{props}}", layer-property="close", domain-range="extent", grid="{{yGrid}}",
                    label="{{yLabel}}", show-label="{{yLblShow}}", ticks="{{yTicks}}", legend="{{legendPos}}", legend-title="{{legendTitle}}", format="{{yFormat}}")
            layout(area, container="#chart1")
                y(axis="right", type="linear", property="{{props}}", layer-property="volume", domain-range="max", ticks="5", tick-format=".2s", grid)
            layout(area, container="#chart2")
                y(type="linear", property="msft", layer-property="close", domain-range="extent")
                x(axis, brush, brush-change="brushChange(extent,range)", type="time", property="date", domain-range="extent")
    .box20
            #chart2.d3-chart
.col-lg-3
    .box
        .box20
            #chart1.d3-chart(style="height:150px")
        .box80
            #legend

table.table.table-condensed(style="width:800px;")
    tr
        td Show tooltips
        td
            input(type="checkbox", ng-model="sTooltips")
        td Legend position
        td
            select(ng-model="legendPos")
                option true
                option
                option false
                option top-left
                option top-right
                option bottom-left
                option bottom-right
                option #legend
        td Title
        td
            input(ng-model="legendTitle")
table.table.table-condensed(style="width:1000px;")
    tr
        td Show: x-axis
        td
            select(ng-model="xAxis")
                option true
                option false
                option
                option top
                option bottom
        td x-grid
        td
            input(type="checkbox", ng-model="xGrid")
        td x-label
        td
            input(type="checkbox", ng-model="xLblShow")
        td
            input(type="text", ng-model="xLabel")
        td x-ticks
        td
            input(type="text", ng-model="xTicks", style="width:50px")
        td x-format
            td
                input(type="text", ng-model="xFormat")
    tr
        td Show: y-axis
        td
            select(ng-model="yAxis")
                option true
                option false
                option
                option left
                option right
        td y-grid
        td
            input(type="checkbox", ng-model="yGrid")
        td y-label
        td
            input(type="checkbox", ng-model="yLblShow")
        td
            input(type="text", ng-model="yLabel")
        td y-ticks
        td
            input(type="text", ng-model="yTicks", style="width:50px")
        td y-format
            td
                input(type="text", ng-model="yFormat")
    tr
        td Property Selection
        td(colspan="8")
            btn-group
                label.btn.btn-primary(ng-model="checkModel[0]",btn-checkbox) hpq
                label.btn.btn-primary(ng-model="checkModel[1]",btn-checkbox) msft
                label.btn.btn-primary(ng-model="checkModel[2]",btn-checkbox) intc
    tr
        td(colspan="6")
            pre {{props}}

h4 Brush Extent
table.table.table-condensed
    tr
        td Value
        td From : {{brushrange[0]}}
        td To : {{brushrange[1]}}
    tr
        td Index
        td From : {{brushidx[0]}}
        td To : {{brushidx[1]}}




