.d3ChartColorLegend(ng-style="position", ng-show="showLegend")
    .legend-title(ng-show="title") {{title}}
    ul.list-unstyled
        li(ng-repeat="legendRow in legendRows track by legendRow.value", class="d3ChartColorLegendItem")
            span(ng-if="legendRow.color", ng-style="legendRow.color") &nbsp;&nbsp;&nbsp;
            svg-icon(ng-if="legendRow.path", path="legendRow.path", width="20")
            &nbsp;{{legendRow.value}}


