.d3ChartsToolTip(ng-show="ttShow", ng-style="position")
    table.table.table-condensed.table-bordered
        thead(ng-show="headerValue")
            tr
                th(colspan="2") {{headerName}}
                th {{headerValue}}
        tbody
            tr(ng-repeat="ttRow in layers")
                td(ng-style="ttRow.color", ng-class="ttRow.class")
                    svg-icon(ng-if="ttRow.path", path="ttRow.path", width="15")
                td {{ttRow.name}}
                td {{ttRow.value}}