.d3ChartsToolTip(ng-show="ttShow", ng-style="position")
    table.table.table-condensed.table-bordered
        thead
            tr
                th(colspan="2") {{headerName}}
                th {{headerValue | ttFormat}}
        tbody
            tr(ng-repeat="ttRow in layers")
                td(ng-style="ttRow.color")
                td {{ttRow.name}}
                td {{ttRow.value | ttFormat}}