.navbar.nav.navbar-default.navbar-fixed-top
    .navbar-header
        a.navbar-brand(href="#/home") wk.chart Demo
    div
        a.btn.btn-default.navbar-btn(ui-sref="page1", ui-sref-active="active") Page 1
        a.btn.btn-default.navbar-btn(ui-sref="page2", ui-sref-active="active") Page 2
        a.btn.btn-default.navbar-btn(ui-sref="page3", ui-sref-active="active") Page 3
        a.btn.btn-default.navbar-btn(ui-sref="page4", ui-sref-active="active") Page 4
        a.btn.btn-default.navbar-btn(ui-sref="page5", ui-sref-active="active") Page 5
        a.btn.btn-default.navbar-btn(ui-sref="page6", ui-sref-active="active") Page 6
        a.btn.btn-default.navbar-btn(ui-sref="page7", ui-sref-active="active") Page 7
        a.btn.btn-default.navbar-btn(ui-sref="page8", ui-sref-active="active") Page 8
        a.btn.btn-default.navbar-btn(ui-sref="page9", ui-sref-active="active") Page 9
        a.btn.btn-default.navbar-btn(ui-sref="page10", ui-sref-active="active") Page 10
        a.btn.btn-default.navbar-btn(ui-sref="page11", ui-sref-active="active") Page 11
        a.btn.btn-default.navbar-btn(ui-sref="page12", ui-sref-active="active") Page 12
        a.btn.btn-default.navbar-btn(ui-sref="page13", ui-sref-active="active") Page 13
