.col-lg-6
    .box
        chart(layout, clustered-bar, data="shortDataFilter", tooltips)
            x(property="State", type="ordinal", axis="bottom", show-label, label="{{title}}", ticks="10")
            y(axis, type="linear", ticks="10", tick-format=".2s", grid)
            color(scale="category20")
    .box
        chart(data="shortDataFilter")
            layout(stacked-bar)
                x(s-brushed, property="State", type="ordinal", axis)
                y(type="linear", axis, tick-format=".2s", grid)
                color(type="category20")
.col-lg-6

    table.table.table-condensed.table-bordered
        tr
            td State select
            td(ng-repeat="key in ldKeys")
                {{key.name}}
        tr
            td
            td(ng-repeat="key in ldKeys")
                input(type="checkbox", ng-model="key.data")
        tr(ng-repeat="row in shortData")
            td
                {{row.State}}
            td(ng-repeat="key in ldKeys")
                input(type="input", ng-model="row[key.name]")

    ul.list-inline.list-unstyled
        li(ng-repeat="row in rowSelect")
            input(type="checkbox", ng-model="row.include")
            span {{row.name}}

    button.btn.btn-primary(ng-click="UpdateShortData()") Update Charts
    button.btn.btn-primary(ng-click="reset()") Reset Data
    label(for="duration") Animation Duration (ms)
        input(ng-model="duration", id="duration")
    input(type="checkbox", ng-model="showShortData", ng-change="toggleShortList()")
    span Short Data





