html, body {
    height:100%;
}

body { padding-top: 70px; }
body { padding-bottom: 70px; }

.full-height {
    min-height: 100%!important;
    height: 100%;
}
.content {
    height:100%;
}

.chartContainer {
    width:100%;
    height: 100%;
}