.box
    chart(layout, pie, data="selData", tooltips)
        color(type="category20", property="age")
        y(type="linear",property="population")

.box
    table.table.table-condensed
        tr(ng-repeat="cat in pieData")
            td
                {{cat.age}}
            td
                input(type="checkbox", ng-model="cat.selected")
            td
                input(type="text", ng-model="cat.population")
    button.btn.btn-primary(ng-click="selChange()") Update Chart

.box(style="height:230px;margin-top:30px")
    chart(layout, simple-bar, data="selData", tooltips)
        x(property="age", type="category10", axis="top", show-label, label="Age")
        y(axis="right", tick-format=".2s", show-label, label="Population", property="population")
        color(type="category20", property="age")
