.navbar.nav.navbar-default.navbar-fixed-top
    .navbar-header
        a.navbar-brand(href="#/home") wk.chart Demo
    div
        a.btn.btn-default.navbar-btn(ui-sref="page1", ui-sref-active="active") Page 1
        a.btn.btn-default.navbar-btn(ui-sref="page2", ui-sref-active="active") Page 2
        a.btn.btn-default.navbar-btn(ui-sref="page3", ui-sref-active="active") Page 3
        a.btn.btn-default.navbar-btn(ui-sref="page4", ui-sref-active="active") Page 4
        a.btn.btn-default.navbar-btn(ui-sref="page5", ui-sref-active="active") Page 5
        a.btn.btn-default.navbar-btn(ui-sref="page6", ui-sref-active="active") Page 6