.col-lg-6.h50(ng-init="")
    chart(data="tempData", tooltips)
        layout(line, markers)
            x(type="ordinal", property="Months", axis, brush, selected-domain="xBrushDomain", selected-values="xBrushValues", brush-extent="xBrushExtent")
            y(axis, value-markers, grid, ticks="5")
            color(type="category10", legend)

    chart(data="scatterData", tooltips, deep-watch)
        layout(scatter, selection, selected-domain="xyBrushDomain")
            x(axis, property="x", type="linear", show-label, label="abc", grid, domain-range="extent")
            y(axis, property="y", type="linear", grid, domain-range="extent")
            color(property="group", type="category10", label="Scatter Group Values", legend-title="Group Values")
            size(property="size", range="2,30", domain-range="extent")
            shape(property="shape", label="Scatter Shape Values",legend-title="Shape Values")
.col-lg-6
    .box
        table.table-condensed.table
            thead
                tr
                    th(colspan=2) Axis-Brush on ordinal scales: index, scale values, data values
            tbody
                tr
                    td brush-extent
                    td {{xBrushExtent}}
                tr
                    td selected-values
                    td {{xBrushValues}}
                tr
                    td selected-domain
                    td {{xBrushDomain}}
    .box
        table.table-condensed.table
            thead
                tr
                    th(colspan=2) Click-Object Selection: data values only
            tbody
                tr
                    td selected-domain
                    td {{xyBrushDomain}}

